#twitter-button{
    height: 40px;
    width: 50px;

}
.fa-twitter {
    background:  white;
    color: #55ACEE;
  }
  #t-button{
    color: black;
  }
.example-header-image-mounita {
  background-image: url('https://live.staticflickr.com/65535/50428866602_46d4c90467_t.jpg');
  background-size: cover;
}
.example-header-image-mou {
  background-image: url('https://live.staticflickr.com/65535/50429491113_65d8e59b62_t.jpg');
  background-size: cover;
}
.example-header-image-ritaja {
  background-image: url('https://live.staticflickr.com/65535/50430195681_31dd7a8450_t.jpg');
  background-size: cover;
}
.example-header-image-namrata {
  //background-image: url('https://live.staticflickr.com/65535/50589092182_ed29f409c4_t.jpg');
  background-size: cover;
}


.developer-div{
  background: linear-gradient(90deg, rgba(255, 246, 26, 0.56) 0%, rgba(254, 255, 166, 0.91) 35%, rgb(232, 206, 8) 80%);
}


.form-container{
  background: linear-gradient(90deg, rgba(226, 221, 225, 0.56) 0%, rgba(247, 253, 228, 0.91) 35%, rgb(197, 195, 198) 80%);
  border-radius: 10px;
  box-shadow: 5px 10px rgba(50,50,50,.2);
}

