<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch" style="padding-top: 20px; padding-bottom: 20px; background-color: #2a95e8;">
  <div fxLayout="row" fxFlex="50" fxLayoutAlign="space-between center" class="form-container m-5 p-3">
    <form fxFlex="100"#contactForm="ngForm" >
        <div fxLayout="column" fxLayoutAlign="space-between">
            <div fxLayout="column" fxLayoutAlign="space-between">
                <mat-form-field>
                    <mat-label >Name <fa-icon [icon]="person"></fa-icon></mat-label>
                    <input fxFlex="60" matInput type="text"  placeholder="Name" name="name" ngModel required #name="ngModel">
                </mat-form-field>
                <mat-form-field  style="">
                    <mat-label>
                        Enter your email <fa-icon [icon]="faEnvelope"></fa-icon>
                    </mat-label>
                    <input matInput type="text" placeholder="Email" email name="email" ngModel required #email="ngModel">
                </mat-form-field>
                <mat-form-field  style="">
                    <mat-label>
                      Enter your message here <fa-icon [icon]="faAtom"></fa-icon>
                    </mat-label>
                    <textarea matInput placeholder="Messages" name="messages" ngModel required #messages="ngModel"></textarea>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center">
              <button class="btn btn-primary" [disabled]="contactForm.invalid"  (click)="onSubmit(contactForm)" type="button" >
                Send Mail <fa-icon [icon]="faEnvelope"></fa-icon>
              </button>
            </div>
        </div>
    </form>
  </div>
  <div fxLayout="row" fxFlex="50" fxLayoutAlign="space-around center" class="form-container m-5 p-3" *ngIf="!isDeviceXs">

    <div class="bg-primary"></div>
    <div class="blue" fxFlex="60">If you have any quaries email us so follow the left box </div>
    <div class="bg-info"></div>

  </div>
</div>

<div class="row">

</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" class="developer-div" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="col" fxFlex="{{!isDeviceXs? 20 : 100}}" *ngFor="let employee of employees">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + employee.avatar + ')','background-size': 'cover'}"></div>
        <mat-card-title>{{employee.name}}</mat-card-title>
        <mat-card-subtitle>{{employee.designation}}</mat-card-subtitle>
      </mat-card-header>
          <a [routerLink]="" (click)="openDialog(employee)">
              <img mat-card-image src="{{employee.picture}}" alt="Photo">
          </a>
      <mat-card-content>
        <p>
          {{employee.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goToLink(employee.twitter)"><fa-icon [icon]="twitter" style="color: dodgerblue;"></fa-icon> @{{employee.twitter_id}}</button>
        <button mat-button (click)="goToLink(employee.flickr)"><fa-icon [icon]="flicker" style="color: dodgerblue;"></fa-icon> Flicker</button>
        <button mat-button (click)="goToLink(employee.fb)"><fa-icon [icon]="facebook" style="color: dodgerblue;"></fa-icon> FB</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>



