


<div class="navbar">
  <mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item [routerLink]="['/gallery']"
              routerLinkActive="MyActiveMenu"
              [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>people_outline</mat-icon>
        <span>Gallery</span>
      </button>
      <button mat-menu-item [routerLink]="['/video']"
              routerLinkActive="MyActiveMenu"
              [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>videocam</mat-icon>
        <span>Video</span>
      </button>
      <button mat-menu-item [routerLink]="['/testimony']"
              routerLinkActive="MyActiveMenu"
              [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>videocam</mat-icon>
        <span>Testimony</span>
      </button>
      <button mat-menu-item [routerLink]="['/contactUs']"
              routerLinkActive="MyActiveMenu"
              [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>videocam</mat-icon>
        <span>Contact</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </span>
    <span class="fill-remaining-space">Application Title</span>
  </mat-toolbar>
</div>
