
.logo{
  padding: 0px 5px;
  font-size: 20px;
}
.MyActiveMenu{
  background-color: #cdd20c;
  color: black;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

