<div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="bg-red">
  <div fxFlex="1" fxLayout="column" flexLayoutAlign="center center">
    <app-header [deviceXs]="deviceXs"></app-header>
  </div>
  <div fxFlex="1"  fxLayout="column" flexLayoutAlign="center center"  style="margin-top: 70px; min-height: 80vh">
    <router-outlet></router-outlet>
  </div>


  <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" layout-wrap="" fxLayoutGap="2px" style="background-color: #061024; color: white;">
<!--    <a href="https://www.youtube.com/watch?v=6blWf91E0OA&ab_channel=SukantaHui" target="_blank" style="font-size: large;">Please Click on the link for picture collage </a>-->
  </div>
</div>




