<div *ngIf="!isDeviceXs" fxLayout="row wrap" fxLayoutAlign="space-evenly start" layout-wrap="" fxLayoutGap="2px" style="background-color: #061024; color: white;">
  <a href="https://youtu.be/hHTPxzVyN74" target="_blank" style="font-size: medium;">Please Click on the link for video message</a>
</div>
<div *ngIf="isDeviceXs" fxLayout="row wrap" fxLayoutAlign="space-evenly start" layout-wrap="" fxLayoutGap="2px" style="background-color: #061024; color: white;">
  <a href="https://youtu.be/hHTPxzVyN74" target="_blank" style="font-size: x-small;">Please Click on the link for video message</a>
</div>


<div fxLayout.xs="column" fxLayout="row" fxFlexFill>
  <app-picture-carousel>hbgvjhfdgjdhfbvdbvjh</app-picture-carousel>
</div>

<div fxLayout.xs="column" fxLayout="row" fxFlexFill>
  <div fxFlex="30" style="background-color: rgba(3,2,12,0.81);">

  </div>
  <div fxFlex="40" >

  </div>
  <div fxFlex="30" style="background-color: rgba(245, 252, 220, 0.81);">
    <!-- testimony -->
<!--    <app-testimony></app-testimony>-->
  </div>
</div>



